<?xml version="1.0" encoding="UTF-8"?>
<con:soapui-project id="6f35f079-3f46-4ded-983e-6c56acc283a7" activeEnvironment="Default environment" name="calculator" soapui-version="5.4.0" abortOnError="false" runType="SEQUENTIAL" encryptionMode="Not encrypted" resourceRoot="" updated="2.3.0 2018-03-06T16:28:42Z" compositeProjectFormat="1.3" xmlns:con="http://eviware.com/soapui/config"><con:settings/><con:savedRecentRuns>1</con:savedRecentRuns><con:requirements/><con:properties/><con:wssContainer/><con:databaseConnectionContainer/><con:jmsConnectionContainer/><con:oAuth2ProfileContainer/><con:oAuth1ProfileContainer/><con:authRepository/><con:tags/></con:soapui-project>