<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="616aa845-4fd8-46a4-81c5-63dbf1aa258c" name="TestSuite 1" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="616aa845-4fd8-46a4-81c5-63dbf1aa258cfileName">TestSuite-1</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>